# API
APP_NAME=BMPL Stats API
DEBUG=false

# Database
DATABASE_URL=postgresql://postgres:postgres@stats-db:5432/players_stats

# Redis
REDIS_URL=redis://stats-redis:6379/0
CACHE_TTL=86400

# Celery
CELERY_BROKER_URL=redis://stats-redis:6379/0
CELERY_RESULT_BACKEND=redis://stats-redis:6379/0
